.department_section {
    width: 100%;
    padding: 4em 0;
 
  }
  
  .layout_padding {
    padding: 3em 0;
  }
  
  .why_container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(126, 118, 118, 0.1);
    
  }
  
  .heading_container {
    text-align: center;
    margin-bottom: 2em;
  }
  
  .heading_center h2 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  .heading_center p {
    font-size: 1em;
    color: #555;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .col-lg-3, .col-md-6, .col-sm-12 {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .box {
    background: #fff;
    color:#1e81b0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(126, 118, 118, 0.1);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .detail-box h5 {
    font-size: 1.25em;
    margin-bottom: 0.5em;
  }
  
  .detail-box p {
    font-size: 1em;
    color: #777;
  }
  
  .btn-box {
    text-align: center;
    margin-top: 2em;
  }
  
  .btn-box a {
    background: #007bff;
    color: #fff;
    padding: 0.75em 2em;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
  .btn-box a:hover {
    background: #0056b3;
  }
  
  button {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #0056b3;
    color: #fff;
    border-color: #0056b3;
  }
  